@charset "utf-8";

.name, h1, h2, h3, h4, h5 {
    text-transform: uppercase;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.libre {
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
  }
  
  

.pink-shadow {
    text-shadow:3px 3px 10px #BF0461;
}

.nav-item {
    font-size: 1.3em;
    margin-left: 15px;
    white-space: nowrap;
}

.bg-hpink {
    background-color: #BF0461;
    border:none;
}

.bg-lpink {
    background-color:#FCDBFA;
}

#abtinfo {
    font-size: 1.2em;
}

.customBtnText {
    color: #E893BC;
    letter-spacing: 5%;
}

.bg-btn {
    background-color:#FFE5E5;
}